.flex(@columns: 1 0 auto) {
  -webkit-box-flex: @columns;
  -moz-box-flex: @columns;
  -webkit-flex: @columns;
  -moz-flex: @columns;
  -ms-flex: @columns;
  flex: @columns;
}

.flex-display(@display: flex) {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  display: ~"-webkit-@{display}";
  display: ~"-moz-@{display}";
  display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
  display: ~"-ms-@{display}"; // IE11
  display: @display;
}

.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
  -moz-flex-direction: @direction;
  -ms-flex-direction: @direction;
  flex-direction: @direction;
}

.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
  -moz-flex-wrap: @wrap;
  -ms-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

body {
  max-width: 1024px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.7rem;
}

.header {
  margin: 10px;
  .dropdown {
    float: right;
  }
}

.raaga {

  font-weight: bold;
  margin: auto 4rem;
  letter-spacing: 5px;

  .flex-display;
  .flex-direction(column);

  .column-layout {
    .details-col {
      font-family: courier, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      font-weight: normal;
    }

    .flex-display;
    .margin-col {
      .flex(1 0 150px);
      max-width: 150px;
    }

    .details-col {
      .flex(1 0 auto);
    }
  }

  .metadata, .composition .item {
    margin: 20px 0px;
  }

  .metadata {
    .note {
      letter-spacing: 20px;
    }

    .details-col {
      margin-left: 10px;
    }
  }

  .raaga-name {
    letter-spacing: 5px;
    font-size: 3rem;
    text-transform: uppercase;

    &::first-letter {
      font-size: 4rem;
    }
  }

  .note {
    padding: 0px 2px;
    position: relative;
    font-size: 2.8rem;

    &.lower:before, &.upper:before {
      height: 8px;
      width: 8px;
      border: 4px solid;
      border-radius: 4px;
      content: '';
      position: absolute;
      left: 7px;
    }
    &.lower:before {
      bottom: -8px;
    }
    &.upper:before {
      top: -7px;
    }
  }

  .stroke-container {
    text-align: center;
    height: 10px;
    margin-top: -0px;
    font-weight:bold;
    .flex-display;
    .stroke {

      width: 50%;
    }

  }

  .composition-header {
    font-size: 3rem;
  }
  .composition {
    margin: 20px 0px;
    .line {
      .flex-display;
      margin-bottom: 20px;
    }

    .tihai-repeat {
      flex: 1 0 auto;
      line-height: 55px;

      span {
        font-size: 4.2rem;
      }

    }

    .beat {
      .flex(0 0 60px);
      width: 60px;
      height: 55px;
      text-align: center;
      margin: 0px 10px;
    }

    .marker {
      height: 10px;
      position: relative;
      margin-top: 5px;
      &:after {
        position: absolute;
        top: -10px;
        left: 0px;
        height: 20px;
        border-radius: 50%;
        width: 60px;
        border-bottom: 1px solid;
        content: '';
        border-bottom-width: 1px;
      }
    }

  }
}

